<div class="laps-info-container">
  <!-- Weather Evolution (if data available) -->

  <mat-tab-group>
    <!-- Tab 0: Results -->
    <mat-tab [label]="'laps.results' | translate">
      <div class="tab-content">
        <app-session-results
          [sessionResults]="results()"
          [sessionInfo]="sessionInfo()"
          [drivers]="drivers()"
        >
        </app-session-results>
      </div>
    </mat-tab>

    <!-- Tab 1: Position Chart (only for Race and Sprint Race) -->
    @if (sessionInfo().sessionType === 'Race' || sessionInfo().sessionType === 'SprintRace') {
    <mat-tab [label]="'laps.position-chart' | translate">
      <div class="tab-content">
        <app-positions
          [results]="results()"
          [drivers]="drivers()"
          [positions]="positions()"
          [numTotLaps]="numTotLaps()"
          [driverLaps]="driverLaps()"
        >
        </app-positions>
      </div>
    </mat-tab>
    }

    <!-- Tab 2: Stint Analysis -->
    <mat-tab [label]="'laps.stint-analysis' | translate">
      <div class="tab-content">
        <app-stint-analysis
          [stints]="stints()"
          [drivers]="drivers()"
          [numTotLaps]="numTotLaps()"
          [driverLaps]="driverLaps()"
          [sessionInfo]="sessionInfo()"
        ></app-stint-analysis>
      </div>
    </mat-tab>

    <!-- Tab 2: Lap Times -->
    <mat-tab [label]="'laps.lap-times' | translate">
      <div class="tab-content">
        <app-lap-times [drivers]="drivers()" [driverLaps]="driverLaps()"></app-lap-times>
      </div>
    </mat-tab>

    <!-- Tab 3: Timeline Events -->
    <mat-tab [label]="'laps.timeline-events' | translate">
      <div class="tab-content">
        <app-events
          [events]="events()"
          [drivers]="drivers()"
          [results]="results()"
          [numTotLaps]="numTotLaps()"
          [driverLaps]="driverLaps()"
        ></app-events>
      </div>
    </mat-tab>

    <!-- Tab 4: Sectors Heatmap -->
    <mat-tab [label]="'laps.sectors-heatmap' | translate">
      <div class="tab-content">
        <app-heatmap [drivers]="drivers()" [driverLaps]="driverLaps()"></app-heatmap>
      </div>
    </mat-tab>

    <mat-tab [label]="'laps.track' | translate">
      <app-track
        [drivers]="drivers()"
        [positions]="positions()"
        [sessionInfo]="sessionInfo()"
      ></app-track>
    </mat-tab>

    <!-- Tab last: weather -->
    <mat-tab [label]="'laps.weather' | translate">
      <div class="tab-content">
        <app-weather-conditions [weather]="weather()"></app-weather-conditions>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
