<mat-card>
  <mat-card-header>
    <mat-card-title>{{'lap-times.title' | translate}}</mat-card-title>
    <mat-card-subtitle>{{'lap-times.subtitle' | translate}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    @if (lapTimeChartOptions(); as options) {
    <apx-chart
      [series]="options.series"
      [chart]="options.chart"
      [dataLabels]="options.dataLabels"
      [stroke]="options.stroke"
      [xaxis]="options.xaxis"
      [yaxis]="options.yaxis"
      [legend]="options.legend"
      [tooltip]="options.tooltip"
    ></apx-chart>
    }
  </mat-card-content>
</mat-card>
